@page
@model PlanificadorActividades.Pages.ActividadesModel

@{
   ViewData["Title"] = "Acerca de nosotros";
   Layout = "_Layout";
}
<!-- Comienza lógica de "Acerca de nosotrs" -->
<div class="back_re">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="title">
               <h2>ACERCA DE NOSOTROS</h2>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Seccion "Acerca de nosotros" -->
<!-- Acerca de Nosotros -->
<div class="classes">
   <div class="container">
      <div class="row">
         <div class="col-sm-12">
            <div class="actividades-container">
               <!-- Título de la sección -->
               <h2 class="actividades-titulo">Proyecto planificador de actividades</h2>
               
               <!-- Descripción de la sección -->
               <p class="actividades-descripcion">
                  Aquí encontrara información de los integrantes del Proyecto "planificador de actividades" PlanifiQ.
               </p>
               
               <!-- Integrantes  -->
               <div class="actividades-lista">
                  <!-- Wilson -->
                  <div class="actividad-card">
                     <h3 class="actividad-nombre">Wilson Daniel Avila Flores</h3>
                     <p class="actividad-fecha">20221002898</p>
                     <p class="actividad-fecha">wdavila@unah.hn</p>
                  </div>

                  <!-- Jeancarlo -->
                  <div class="actividad-card">
                     <h3 class="actividad-nombre">Jeancarlo Suares</h3>
                     <p class="actividad-fecha">jeancarlo.suares@unah.hn</p>
                  </div>

                  <!-- Yadira -->
                  <div class="actividad-card">
                     <h3 class="actividad-nombre">Yadira Zepeda</h3>
                     <p class="actividad-fecha">yezepeda@unah.hn</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- Finaliza Acerca de Nosotros -->

<!-- Finaliza seccion "Acerca de nosotros" -->